slow_attack: 
  - attack_time 100
  - decay_time 100
  - sustain_level 90
  - release_time 700
hard_attack:
  - attack_time 50
  - decay_time 50
  - sustain_level 20
  - release_time 50
# For long bass notes
bass_square:
  - attack_time 100
  - sustain_level 90
  - release_time 800
  - sine off
  - square on
  - sq_freq 50
  - sq_filter on
# a fairly nice bell-like sound on fm synth
sweet_fm:
  - sine off
  - fm on
  - fm_depth 10
  - fm_frequency 45
# an atmospheric windy sound
wind_noise:
  - noise_f_mod_depth 60
  - noise_f_mod_freq 0.1
  - noise_f_width 80
  - noise_attack 5000
  - noise_decay 5000
# sine, turn other synths off
just_sine:
  - sine on
  - square off
  - fm off
